body {
    background-color: #f1f1f1
}

.color-red {
    color: #e06055
}

.color-red-dark {
    color: #b34d44
}

.color-white {
    color: #fff
}

.color-grey {
    color: #eee
}

.color-black {
    color: #020404
}

.background-red {
    background-color: #e06055
}

.background-red-dark {
    background-color: #b34d44
}

.background-white {
    background-color: #fff
}

.background-white-2 {
    background-color: #f1f1f1
}

.background-black {
    background-color: #020404
}

.container {
    margin-top: 20px
}

.container.no-padding {
    padding-right: 0;
    padding-left: 0
}

.flr {
    float: right
}

.fll {
    float: left
}

.b {
    font-weight: 700!important
}

video {
    cursor: pointer
}

.navbar {
    background-color: #151414;
    color: #333
}

.navbar-brand {
    color: #fff!important;
    font-size: 1.5rem;
    margin-right: 15px!important
}

.nav-item a {
    color: #ffe1e1!important;
    font-size: 95%;
    margin-top: 4px;
    margin-right: 2px;
    margin-left: 2px
}

.nav-item.active a {
    color: #fff!important;
    font-weight: 700
}

.nav-item a .oi {
    margin-right: 2px
}

.header-search-input {
    width: 400px!important;
    padding: 4px!important;
    padding-top: 2px!important;
    padding-bottom: 2px!important;
    margin-top: 4px!important;
    margin-left: 10px!important
}

.header-search-button {
    padding: 4px!important;
    padding-top: 2px!important;
    padding-bottom: 2px!important;
    margin-top: 4px!important
}

h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;
    margin-bottom: 4px
}

a:link {
    text-decoration: none;
    color: #d9534f;
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    outline: 0
}

a:visited {
    text-decoration: none;
    color: #d9534f
}

a:hover {
    text-decoration: none;
    color: #c9302c
}

a:active {
    text-decoration: none;
    color: #c9302c
}

a:focus {
    text-decoration: none;
    color: #c9302c
}

textarea:focus,
input[type=search]:focus,
.uneditable-input:focus {
    border-color: rgba(255, 255, 255, .8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075) inset, 0 0 8px rgba(255, 255, 255, .6);
    outline: 0
}

button {
    background-color: #fff
}

#posts {
    margin-top: -10px
}

#loader-container {
    margin-bottom: 20px;
    text-align: center;
    width: 100%
}

.card-deck {
    margin-bottom: 15px;
    padding-left: 0;
    padding-right: 0
}

.post-card {
    background-color: #fff;
    border: 0;
    margin: 5px!important;
    padding-left: 5px;
    padding-right: 5px
}

.post-card .card-body {
    padding: 5px!important
}

.post-card .title {
    font-weight: 700;
    margin-bottom: 2px;
    color: #212529!important
}

.post-card .card-body {
    padding: 10px
}

.post-card .card-footer {
    padding: 10px
}

.post-card {
    margin-bottom: -3px
}

.post-title {
    margin-top: 15px;
    color: #212529!important
}

.card-deck-more {
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 10px
}

.post-card-more {
    padding: 10px
}

.post-card-more .card-body {
    padding: 0!important;
    padding-top: 5px!important
}
