{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <link rel="stylesheet" href="{% static 'videos/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'videos/css/open-iconic-bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'videos/css/1.css' %}">
        <title>{% block title %}Mirror Site{% endblock %}</title>
    </head>
    <body>

    
    <header>
    {% include 'videos/navbar.html' %}    
    </header>
    {% block content %}

    
    {% endblock %}

    {% block scripts %}
        <script src={% static 'videos/js/jquery-3.3.1.min.js' %}></script>
        <script src={% static 'videos/js/bootstrap.bundle.min.js' %}></script>
    
        <script src={% static 'videos/js/js.cookie.js' %} type="text/javascript"></script>
        <script src={% static 'videos/js/finished1.js' %} type="text/javascript"></script>

    {% endblock %}
    {% block page %}{% endblock page %}  
    </body>
</html>