{% extends 'videos/base.html' %}
{% load static %}
	{% block content %}


		<main role="main" class="container">
			<div class="p-3 my-3 background-white rounded box-shadow">
				<div id="posts"></div>
				<br clear="all" />
				<div id="loader-container">
					<img src="{% static 'videos/img/loader.gif' %}" />
				</div>
			</div>
		</main>

	{% endblock %}

	{% block page %}
		<script>
			var loadPostMode = "standard";

		</script>
	{% endblock  %}




