

<div class="card-deck">
{% for video in videos %}

        <div class="card col-sm-3 post-card">
            <a href="{% url 'watch_video' video.video_id %}" target="_blank"><img class="card-img-top" src="https:i.imgur.com/{{ video.video_thumbnail }}"></a>
            <div class="card-body">
                <a href="{% url 'watch_video' video.video_id %}" target="_blank">
                    <p class="card-text title">{{ video.title }}</p>
                </a>
            </div>
        </div>
        
    {% endfor %}

    </div>

