<nav class="navbar navbar-expand-md navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse dual-collapse">
        <ul class="navbar-nav mr-auto">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="" id="logoSmall" />Mirror Site</a>         
            <li class="nav-item"><a class="nav-link" href="about"><span class="oi oi-question-mark" aria-hidden="true"></span> About</a>
            </li>  
            
        </ul>
    </div>
    <div class="navbar-collapse collapse dual-collapse">
        <ul class="navbar-nav ml-auto">
            <form class="form-inline mt-2 mt-md-0" method="get" action="search">
                <input name="q" class="rounded form-control mr-sm-2 header-search-input" type="text" placeholder="Search" aria-label="Search">
                <button class="rounded btn btn-outline-white my-2 my-sm-0 header-search-button" type="submit"><span class="oi oi-magnifying-glass" aria-hidden="true"></span></button>
            </form>
                                                
        </ul>
    </div>
</nav>    
