{% extends 'videos/base.html' %}
{% load static %}
{% load timestamp_to_time %}
    {% block title %}{{ videos.title }}{% endblock%}
    {% block content %}
    
    
    
    
    
    <main role="main" class="container">
      <div class="p-3 my-3 background-white rounded box-shadow">
          <div id="video-content-22100" class="embed-responsive embed-responsive-16by9">
              <video id="video-22100" class="clip-video embed-responsive-item" preload="auto" loop controls autoplay poster="https://i.imgur.com/{{ videos.video_thumbnail }}.jpg" onclick="clickVideoStart(this);">
                  <source src="https://i.imgur.com/{{ videos.video_id }}.mp4" type="video/mp4">
          </div> <a href=""><h4 class="post-title">{{ videos.title }}</h4></a>
          
          <div class="post-stats-info"><span class="oi oi-arrow-circle-top" style="font-size: 90%; color: #767f87;"></span> 0 points · <span class="oi oi-clock" style="font-size: 90%; color: #767f87;"></span>{{ videos.timesamp_in_utc|timestamp_to_time|date:"jS N Y" }}
            <a href="https://old.reddit.com{{ videos.permalink }}" target="_blank"><span class="oi oi-external-link" style="font-size: 90%;"></span> Source</a>
          </div>
      </div>
    </main>

    {% endblock content %}


    <script src={% static 'videos/js/jquery-3.3.1.min.js' %}></script>
    <script src={% static 'videos/js/bootstrap.bundle.min.js' %}></script>

    <script src={% static 'videos/js/js.cookie.js' %} type="text/javascript"></script>
    <script src={% static 'videos/js/finished1.js' %} type="text/javascript"></script>
  </body>
</html>